<h1>Listing work_pieces</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @work_pieces.each do |work_piece| %>
  <tr>
    <td><%= work_piece.name %></td>
    <td><%= work_piece.title %></td>
    <td><%= work_piece.content %></td>
    <td><%= link_to 'Show', work_piece %></td>
    <td><%= link_to 'Edit', edit_work_piece_path(work_piece) %></td>
    <td><%= link_to 'Destroy', work_piece, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Work piece', new_work_piece_path %>
