<% content_for :menu do %>
  <%= render "shared/menu" %>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @work_piece.name %>
</p>

<p>
  <b>Title:</b>
  <%= @work_piece.title %>
</p>

<p>
  <b>Content:</b>
  <%= @work_piece.content %>
</p>

<h2>Work Graphics</h2>
<% @work_piece.work_graphics.each do |work_graphic| %>
  <div>
    <img src='<%=work_graphic.graphic_file %>' />
  </div>
  <br />
  <br />
<% end %>

<!-- form file upload TODO: change the name to identify the file upload -->
<% if current_user %>
<%= custom_form_for([@work_piece, @work_piece.work_graphics.build]) do |f| %>
  <div class="field">
    <%= f.file_field :graphic %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>



<%= link_to 'Edit', edit_work_piece_path(@work_piece) %> |
<%= link_to 'Back', work_pieces_path %>
<% end %>
