<% content_for :menu do %>
  <%= render "shared/menu" %>
<% end %>

<p>
  <b>Name:</b>
  <%= @work_piece.name %>
</p>

<p>
  <b>Title:</b>
  <%= @work_piece.title %>
</p>

<p>
  <b>Content:</b>
  <%= @work_piece.content %>
</p>

<p>
  <b>Section:</b>
  <%= @work_piece.section.name %>
</p>

<div id="work_graphics">
  <h2>Work Graphics</h2>
  <% @work_piece.work_graphics.each do |work_graphic| %>
    <div data-id='<%= work_graphic.id %>'>
      <img src='<%=work_graphic.graphic_file %>' /> 
      <div class="actions">
        <%= link_to 'Destroy', work_graphic, :class => 'image_delete', "data-loader-feedback" => true, 
                     :confirm => 'Are you sure?', :method => :delete, :remote => true %>
      </div>
    <br />
    <br />
    </div>
  <% end %>
  <div id="new_work_graphics">
  </div>

  <!-- form file upload TODO: change the name to identify the file upload -->
  <% if current_user %>
    <%= custom_form_for([@work_piece, @work_piece.work_graphics.build]) do |f| %>
      <div class="field file_inputs">
        <%= f.file_field :graphic, :class=>'file', :required => true %>
      </div>
      <div class="form_actions">
        <%= f.submit({:disable_with => "Submitting...", "data-loader-feedback" => true}) %>
      </div>
    <% end %>

    <div class="actions">
      <%= link_to 'Edit', edit_work_piece_path(@work_piece) %> |
      <%= link_to 'Back', work_pieces_path %>
    </div>
  <% end %>
</div>

<script id="workGraphicTemplate" type="text/x-jquery-tmpl">
  <div id="${Id}">
    <img src="${Url}" />
    <div class="actions">
      <a href="<%= work_graphics_path%>/${Id}" class="image_delete" 
         data-loader-feedback="true" data-confirm="Are you sure?" 
         data-method="delete" data-remote="true">Destroy</a>
    </div>
    <br />
    <br />
  </div>
</script>
