<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="application-name" content="Helen Gruber Infographics">
    <meta name="description" content="Helen Gruber Infographics">
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag "freestyle" %>
    <%= javascript_include_tag :defaults %>
    <!--%= javascript_include_tag "jquery" %-->
    <!--%= javascript_include_tag "jquery_ujs" %-->
    <!--%= javascript_include_tag "application" %-->
    <%= javascript_include_tag "util" %>
    <%= javascript_include_tag "custom_drop_down" %>
    <%= javascript_include_tag "iWidget" %>
    <%= javascript_include_tag "jquery.tmpl.min" %>
    <%= javascript_include_tag "modal" %>
</head>
<body>

  <div id="container">
    <header>
      <div id="user_nav">
  	  <% if current_user %>
    	    Logged in as <%= current_user.email %>.
    	  <%= link_to "Log out", log_out_path %>
        <% end %>
      </div>
      <div id="menu">
        <%= yield :menu %>
      </div>
      <div id="spacer"></div>
      <div id="application_messages" class="messages">
        <% flash.each do |name, msg| %>
  	  <%= content_tag :div, msg, {:id => "flash_#{name}", :class => "#{name}"} %>
        <% end %>
      </div>
      
    </header>

    <section>
      <div id="body">
        <%= yield %>
      </div>
    </section>
    <footer>
      Copyright &copy; <%= Time.now.year %> Helen Gruber / Eliseu Martinho
    </footer>
  </div>

  <!-- Templates -->
  <!-- Hardcoded => will change later -->
  <div id="modal_mask"></div>
  <div id="contact_details" class="modal">
    <!--div class="contact_details">
      <div class="contact_name">
        Helen Gruber
      </div>
      <div class="contact_address">
        Felix-Oberborbeckstr.5
      </div>
      <div class="contact_address_other">
        49377 Vechta
      </div>
      <div class="contact_phone_number">
        +49 176 20 77 99 26
      </div>
    </div-->

    <div id="send_message">
      <div class="send_message_div_form">
        <%= form_tag '/users/send_user_message', {:remote => true, :class=>'send_message_form'} do %>
          <div class="field">
            <%= label_tag 'name' %><br />
            <%= text_field_tag 'name', nil,{:placeholder=>"Tell me who you are", :required=>true} %>
          </div>
          <div class="field">
            <%= label_tag 'email' %><br />
            <%= email_field_tag 'email', nil, {:placeholder=>"Won't spam. Honestly.", :required=>true} %>
          </div>
          <div class="field">
            <%= label_tag 'message' %><br />
            <%= text_area_tag 'message', nil, {:placeholder=>'Say something nice!', :required=>true}%>
          </div>

          <div class="form_actions">
            <ul class="message_button_and_feedback">
              <li>
                <%= submit_tag 'Send Message', :class=>'send_message_button', :disable_with => "Sending...", :remote =>true %>
              </li>
              <li>
                <div id="send_message_feedback" class="messages send_message_feedback"></div>
              </li>
            </ul>
          </div>
        <% end %>
      </div>
    </div>

    <div id="send_message_instructions">
      <p> Comments? Feedback? Projects? Or just "Hello!"? Send me a message or give me a call +49 176 20 77 99 26.
      </p>
      <div id="mosquito">
        <%= image_tag "Mosquito.png" %>
      </div>
    </div>

  </div>
  <script type="text/javascript">
    
    
  </script>
  <a class="loaderFeedbackAnchor" href="#loaderFeedback" style="display:none;">loaderFeedback anchor</a>
  <div id="loaderFeedback" class="modal loader_info">
    Working ...
  </div>

  <script id="messagesTemplate" type="text/x-jquery-tmpl">
    <div id="flash_${MessageType}" class="${MessageType}">${MessageText}</div>
  </script>

</body>
</html>
